{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block main_content %}
   <section class = "continer">
    <div class = "row justify-content-around text-center mt-3" >
        <div class="col-sm-8">
            <h3>CRUD OPERATION IN PYTHON JANGO</h3>            
        </div>
    </div>
    <div class="row justify-content-around">
    <div class="col-sm-4">
         <form action="" method="POST">
           {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary">
         </form>
    </div>
    </div>

   </section>
{% endblock main_content %}